<div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/images/a.jpg');">
     
        <div class="wrap-login100 p-t-90 p-b-30">
            <form class="login100-form validate-form" #loginform=ngForm (ngSubmit)=login(loginform.value) [formGroup]="loginForm">
                <div class="login100-form-avatar">
                    <img src="./assets/images/s1.jpg" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45 font-weight-normal">
                    Comfort  Kitchen
                                      </span>

                <div class="wrap-input100 validate-input m-b-10">
                    
                    <input class="input100" type="text" name="email" formControlName="email" placeholder="Email" required ngModel
                   >
                    <span *ngIf="isValid('email')" class="text-light"> *Email format incorrect: abc@pqr.xyz</span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" >
                    <input class="input100" type="password" formControlName="password" name="pass" placeholder="Password" required ngModel
                  >
                    <span *ngIf="isValid('password')" class="text-light">*Min 8 characters Password is a mandatory</span>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button type="submit" class="login100-form-btn" [disabled]="loginform.invalid">
                        Login
                    </button>
                </div>
                
            </form>
            <div >
                <br>
            <button routerLink="/singup" class="login100-form-btn">
            Create new account
            <i class="fa fa-long-arrow-right"></i>						
            </button>
            
            </div>
            <div class="text-center w-full"><br>
                    <button routerLink="/managerlogin" class="login100-form-btn">
                        Login as Restraurant Manager
                        <i class="fa fa-long-arrow-right"></i>						
                        </button>
            </div>
        </div>
       
    </div>
</div>