<section class="b">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/home">
                                        <img src="./assets/images/sw2.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Swad Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>Opp. Ayurvedic College, College Rd,
                                                Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>098249 44402</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/home">
                                        <img src="./assets/images/sw1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Swad Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>Opp. Ayurvedic College, College Rd,
                                                Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>098249 44402</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div>
                                    <a routerLink="/home">
                                        <img src="./assets/images/sw3.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Swad Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>Opp. Ayurvedic College, College Rd,
                                                Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>098249 44402</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/bhome">
                                        <img src="./assets/images/b1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Blueberry Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small> Nadiad-Anand Road, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2899</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/bhome">
                                        <img src="./assets/images/bg_2.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Blueberry Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small> Nadiad-Anand Road, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2899</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/bhome">
                                        <img src="./assets/images/bg_3.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Blueberry Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small> Nadiad-Anand Road, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2899</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           
            <div class="col-lg-4 col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/nhome">
                                        <img src="./assets/images/bg_2.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Navjivan Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  Shree Complex, Vania Vad, Shanti Nagar, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>9904889110</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/nhome">
                                        <img src="./assets/images/bg_3.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Navjivan Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  Shree Complex, Vania Vad, Shanti Nagar, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>9904889110</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a  routerLink="/nhome">
                                        <img src="./assets/images/bg_1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Navjivan Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  Shree Complex, Vania Vad, Shanti Nagar, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>9904889110</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           
            <div class="col-lg-4 col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/dhome" >
                                        <img src="./assets/images/insta-5.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">90 Degree Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  OPP. Kokran Bhh_idbhanjan Mandir, College Rd, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>9904889110</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/dhome">
                                        <img src="./assets/images/bg_1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">90 Degree Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  OPP. Kokran Bhh_idbhanjan Mandir, College Rd, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>9904889110</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/dhome">
                                        <img src="./assets/images/bg_1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">90 Degree Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  OPP. Kokran Bhh_idbhanjan Mandir, College Rd, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>9904889110</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           
            <div class="col-lg-4 col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="gallery img-thumbnail">
                                <div>
                                    <a routerLink="/whome">
                                        <img src="./assets/images/bg_1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                          <h3 class="title text-body">Woodland Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  College Road, Opposite Lake, Shanti Nagar, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2646</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div>
                                    <a routerLink="/whome">
                                        <img src="./assets/images/bg_3.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Woodland Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  College Road, Opposite Lake, Shanti Nagar, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2646</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/whome">
                                        <img src="./assets/images/bg_2.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Woodland Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  College Road, Opposite Lake, Shanti Nagar, Nadiad, Gujarat 387001</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2646</small>
                                            </h4>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>    
           
            <div class="col-lg-4 col-md-4 col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active ">
                            <div class="gallery img-thumbnail">
                                <div>
                                    <a routerLink="/bhhome">
                                        <img src="./assets/images/bg_1.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Bhagyoday Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  1st Floor, Karmavir Height, Petlad Road, 
                                                Opp. Zalak Hotel, Nadiad, Gujarat 387002</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2646</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/bhhome">
                                        <img src="./assets/images/bg_3.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Bhagyoday Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  1st Floor, Karmavir Height, Petlad Road, 
                                                Opp. Zalak Hotel, Nadiad, Gujarat 387002</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2646</small>
                                            </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="gallery img-thumbnail">
                                <div >
                                    <a routerLink="/bhhome">
                                        <img src="./assets/images/bg_2.jpg" width="600" height="400">
                                    </a>
                                    <div class="box-content text-center">
                                        <h3 class="title text-body">Bhagyoday Restraurant</h3>
                                            <h4 class="description text-body" style="margin-top:15px;">
                                                Address :
                                               <small>  1st Floor, Karmavir Height, Petlad Road, 
                                                Opp. Zalak Hotel, Nadiad, Gujarat 387002</small> 
                                               </h4>
                                            <h4 class="description text-body" style="margin-top:20px;">
                                                 Phone: <small>0268252 2646</small>
                                            </h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
           

        </div>
    </div>
</section>