<app-dnavbar></app-dnavbar>
<div class="container-fluid">
    <div style="margin-top:130px ; text-decoration: underline; text-shadow: 5px 3 px gray; ">
        <h2 class="text-center display-4"  style="text-shadow: 3px 2px gray;text-decoration: underline;font-family:Georgia, 'Times New Roman', Times, serif"><b>Our Service</b></h2>
    </div>
    <div class="container mt-5">
        <h5>

            <div class="shadow-lg p-4 mb-4 bg-white ">90 Degree is serving in three different types of food categories namely
                Sizzler, punjabi, chinese and
                kathiyavadi.</div>
            <div class="shadow-lg p-4 mb-4 bg-white">
                90 Degree restaurant provides quality and hygenic food to customers as well as guests. A wide range of food
                are available.
            </div>

            <div class="shadow-lg p-4 mb-4 bg-white">
                90 Degree is offering a Delicious,healthy and hygienic Lunch as well as Dinner to our valuable customers
            </div>
            <div class="shadow-lg p-4 mb-4 bg-white">
                90 Degree is serving customers with well disciplined and well knowledgeble waiter as well as staff.
            </div>
            <div class="shadow-lg p-4 mb-4 bg-white">
                90 Degree offers best Food in affordable price to all the customers.
            </div>
            <div class="shadow-lg p-4 mb-4 bg-white">
                We highly believe in Cleanliness.

            </div>


        </h5>
    </div>
    <div class="row text-center mb-5 mt-5">
        <div class="col-md-3 col-sm-12 " style="border:2px solid lightgray;border-radius: 5px; border-collapse:separate;">
           
                <h1 class="mt-4 ">
                    Address
                </h1>
                <p>
                    OPP. Kokran Bhh_idbhanjan Mandir, College Rd, Nadiad, Gujarat 387001
                </p>
            
        </div>
        <div class="col-md-3 col-sm-12" style="border:2px solid lightgray;border-radius: 5px; border-collapse:separate;">
            <h1 class="mt-4 ">
                Phone
            </h1>
            <p>
                9737711166
            </p>
        </div>
        <div class="col-md-3 col-sm-12" style="border:2px solid lightgray;border-radius: 5px; border-collapse:separate;">
            <h1 class="mt-4 ">
                Email
            </h1>
            <p>
                90degreerestraurant@gmail.com
            </p>
        </div>
        <div class="col-md-3 col-sm-12 " style="border:2px solid lightgray;border-radius: 5px; border-collapse:separate;">
            <h1 class="mt-4 ">
                Website
            </h1>
            <p>
                www.90degreerestraurant.in
        </div>
    </div>
    <app-footer></app-footer>
</div>