
<section id="footer" class="bg-dark">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					
					<ul class="list-unstyled quick-links">
            <h5><a href="#">Comfortkitchen.com</a></h5>
            <hr>  
            
          </ul>
          
                <ul class="list-unstyled list-inline social">
                  <li class="list-inline-item"><a><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-instagram"></i></a></li>
                  <li class="list-inline-item"><a><i class="fa fa-youtube-play"></i></a></li>
                  <li class="list-inline-item"><a target="_blank"><i class="fa fa-envelope"></i></a></li>
                </ul>
              	
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					
					<ul class="list-unstyled quick-links">
              <h5>Quick Links</h5>
               
            	<li><a routerLink="/shome">Home</a></li>
					
						<li><a routerLink="/sabout">About Us</a></li>
						<li><a routerLink="/menu">Menu</a></li>
						
					</ul>
        </div>
        
				<div class="col-xs-12 col-sm-3 col-md-4">
          <h5>Get in Touch</h5>
          <hr>    
					<ul class="list-unstyled quick-links text-white">
						<li><i class="fa fa-phone  text-white" aria-hidden="true"></i>  &nbsp;
              <a href="tel:+91 8758858050"  class="text-white" style="text-decoration: none;display: inline-block">8758858050</a></li>
						<li><i class="fa fa-envelope text-white" aria-hidden="true"></i>&nbsp; 
              <a href="kdpatelshivam2851@gmail.com" class="text-white"  style="text-decoration: none;display: inline-block">kdpatelshivam2851@gmail.com</a></li>
						<li><i class="fa fa-map text-white" aria-hidden="true"> </i> &nbsp;<address  class="text-white"  style="text-decoration: none;display: inline-block">301,Krishna Divine Apartment, Nadiad</address>
             
               </li>
				
					</ul>
				</div>
			</div>
		
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p><u><a routerLink="/comfortkitchen">Comfortkitchen.com</a></u></p>
					<p class="h5">&copy; All right Reversed.</p>
				</div>
				<hr>
			</div>	
		</div>
	</section>
