<app-dnavbar></app-dnavbar>
<div class="container-fluid " >
 <div   style="height:300%; width:100%; background-attachment: fixed; margin-top:-1.7%;">
       <div style="margin-top:130px !important; text-decoration: underline; text-shadow: 3px 2px gray; ">
              <h2 class="text-center display-4 text-black"
                     style="text-shadow: 3px 2px gray;text-decoration: underline;">
                     <b style="font-family:'Times New Roman', Times, serif, Georgia; ">Our Menu</b></h2>
       </div>
       <div class="container-fluid mt-5">
                     
                     <div class="row">
                          <div class="col-md-4 col-sm-12 ">   
                          </div>
                          <div class="col-md-4 col-sm-12 "> 
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightgray; ">
                                                 <h2 class="text-center ">Chinese</h2>
                                              </div>
                            </div> 
                            <div class="col-md-4 col-sm-12 ">   
                           </div> 
                          
                         <div class="col-md-4 col-sm-12 mt-4 ">   
                                   <div class="shadow-lg p-4 mb-4  text-center" style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Veg Manchurian Dry - 130₹</h3>
                                   </div>
                            </div>   
                            <div class="col-md-4 col-sm-12 mt-4">   
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightpink">
                                          <h3 class="text-center ">Paneer Chilliy Dry - 170₹</h3>
                                   </div>
                            </div>
                           <div class="col-md-4 col-sm-12 mt-4">   
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightgreen;">
                                          <h3 class="text-center ">Veg Crispy - 150₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Paneer 65 - 170₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightpink">
                                          <h3 class="text-center ">Veg Lolipop- 150₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightgreen;">
                                          <h3 class="text-center ">Veg Fried Rice - 140₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Chinese Bhel - 140₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightpink">
                                          <h3 class="text-center ">Singapuri Fried Rice - 150₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightgreen;">
                                          <h3 class="text-center ">Chinese Sizzler- 285₹</h3>
                                   </div>
                            </div>
                             <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Veg Sizzler - 285₹</h3>
                                   </div>
                            </div>
              
                            <div class="col-md-4 col-sm-12 ">
                                          <div class="shadow-lg p-4 mb-4 text-center "style="border-radius: 20px;background-color: lightpink">
                                                 <h3 class="text-center ">Veg Hakka Noodles - 150₹</h3>
                                          </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                          <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightgreen;">
                                                 <h3 class="text-center ">Veg Manchurian Noodles- 150₹</h3>
                                          </div>
                            </div> 
                        </div>
             
       </div>
       <div class="container-fluid mt-5">
                     
                     <div class="row">
                          <div class="col-md-4 col-sm-12 ">   
                          </div>
                          <div class="col-md-4 col-sm-12 "> 
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightgray;">
                                                 <h2 class="text-center ">Panjabi</h2>
                                              </div>
                            </div> 
                            <div class="col-md-4 col-sm-12 ">   
                           </div> 
                          
                         <div class="col-md-4 col-sm-12 mt-4 ">   
                                   <div class="shadow-lg p-4 mb-4  text-center" style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Paneer Sizzling Masala - 210₹</h3>
                                   </div>
                            </div>   
                            <div class="col-md-4 col-sm-12 mt-4">   
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightpink">
                                          <h3 class="text-center ">Paneer Palak - 160₹</h3>
                                   </div>
                            </div>
                           <div class="col-md-4 col-sm-12 mt-4">   
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightgreen;">
                                          <h3 class="text-center ">Paneer Palak - 160₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Paneer Matter - 160₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightpink">
                                          <h3 class="text-center ">Paneer- Silsila - 170₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightgreen;">
                                          <h3 class="text-center "> Paneer Tikka Masala - 170₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Paneer Chatpata - 140₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightpink">
                                          <h3 class="text-center ">Paneer Kadai - 170₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightgreen;">
                                          <h3 class="text-center ">Paneer Handi- 180₹</h3>
                                   </div>
                            </div>
                             <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Panner Sahi - 180₹</h3>
                                   </div>
                            </div>
              
                            <div class="col-md-4 col-sm-12 ">
                                          <div class="shadow-lg p-4 mb-4 text-center "style="border-radius: 20px;background-color: lightpink">
                                                 <h3 class="text-center ">Veg Hakka Noodles - 150₹</h3>
                                          </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                          <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightgreen;">
                                                 <h3 class="text-center ">Veg Manchurian Noodles- 150₹</h3>
                                          </div>
                            </div> 
                        </div>
             
       </div>
       <div class="container-fluid mt-5">
                     
                     <div class="row">
                          <div class="col-md-4 col-sm-12 ">   
                          </div>
                          <div class="col-md-4 col-sm-12 "> 
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightgray; ">
                                                 <h2 class="text-center ">Indian Bread</h2>
                                              </div>
                            </div> 
                            <div class="col-md-4 col-sm-12 ">   
                           </div> 
                          
                         <div class="col-md-4 col-sm-12 mt-4 ">   
                                   <div class="shadow-lg p-4 mb-4  text-center" style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Plain Tawa Chapati - ₹13</h3>
                                   </div>
                            </div>   
                            <div class="col-md-4 col-sm-12 mt-4">   
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightpink">
                                          <h3 class="text-center ">Butter Tawa Chapati - ₹17</h3>
                                   </div>
                            </div>
                           <div class="col-md-4 col-sm-12 mt-4">   
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px; background-color: lightgreen;">
                                          <h3 class="text-center ">Plain Tandoori Roti - ₹20</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Butter Tandoori Roti - ₹24</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightpink">
                                          <h3 class="text-center ">Jeera Roti- ₹35</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightgreen;">
                                          <h3 class="text-center ">Methi Roti - ₹35</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Chinese Bhel - 140₹</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center " style="border-radius: 20px;background-color: lightpink">
                                          <h3 class="text-center ">Missi Roti - ₹40</h3>
                                   </div>
                            </div>
                            <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightgreen;">
                                          <h3 class="text-center ">Plain Naan- ₹40</h3>
                                   </div>
                            </div>
                             <div class="col-md-4 col-sm-12 ">
                                   <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightskyblue;">
                                          <h3 class="text-center ">Butter Naan - ₹45</h3>
                                   </div>
                            </div>
              
                            <div class="col-md-4 col-sm-12 ">
                                          <div class="shadow-lg p-4 mb-4 text-center "style="border-radius: 20px;background-color: lightpink">
                                                 <h3 class="text-center ">Kashmiri Naan - ₹80</h3>
                                          </div>
                            </div>
                            <div class="col-md-4 col-sm-12 mb-5">
                                          <div class="shadow-lg p-4 mb-4  text-center "style="border-radius: 20px;background-color: lightgreen;">
                                                 <h3 class="text-center ">Garlic Naan- ₹70</h3>
                                          </div>
                            </div> 
                        </div>
             
       </div>                        
</div>
<app-footer></app-footer>
 </div>
 