<div class="container-fluid">
    <app-bhbnavbar></app-bhbnavbar>
     <div class="row">
         <div class="col-12">
             <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner">
                     <div style="margin-top:7%;">
 
                         <div class="carousel-item active img-fluid">
                             <img src="./assets/images/bg_1.jpg" style="height:100vh; width:220vh!important;">
                             <div class="centered ">
                                 <h1 class="display-2 font-weight-normal text-white"
                                     style="font-variant: small-caps;margin-left:19%; margin-top:-1% !important;">Bhagyoday Restraurant
                                 </h1>
                                 <div class="row">
                                     <div class="autocomplete text-center col-12">
                                         <a routerLink="/bbooktable" class="btn btn-primary" style=" font-size: 3.5vh; margin-top:1%;">
                                             Book Table </a>
                                     </div>
                                 </div>
                             </div>
 
                         </div>
                         <div class="carousel-item  img-fluid">
                             <img src="./assets/images/bg_5.jpg" style="height:100vh; width:220vh!important;">
                             <div class="centered ">
                                 <h1 class="display-2 font-weight-normal text-body"
                                     style="font-variant: small-caps;margin-left:19%; margin-top:-1% !important;">Bhagyoday Restraurant
                                 </h1>
                                 <div class="row">
                                     <div class="autocomplete text-center col-12">
                                         <a routerLink="/bbooktable" class="btn btn-primary" style=" font-size: 3.5vh; margin-top:1%;">
                                             Book Table </a>
                                     </div>
                                 </div>
                             </div>
 
                         </div>
                         <div class="carousel-item  img-fluid">
                             <img src="./assets/images/bg_8.jpg" style="height:100vh; width:220vh!important;">
                             <div class="centered ">
                                 <h1 class="display-2 font-weight-normal text-white"
                                     style="font-variant: small-caps;margin-left:19% !important;">Bhagyoday Restraurant
                                 </h1>
                                 <div class="row">
                                     <div class="autocomplete text-center col-12">
                                         <a routerLink="/bbooktable" class="btn btn-primary"
                                             style=" font-size: 3.5vh; margin-top:1%;">Book Table </a>
                                     </div>
                                 </div>
                             </div>
 
                         </div>
 
                     </div>
 
                 </div>
             </div>
         </div>
     </div>
     <h1 class="text-center mt-5 mb-5" style="text-shadow: 3px 2px gray;text-decoration: underline;font-family:Georgia, 'Times New Roman', Times, serif">Services</h1>
     <div class="row">
          
         <div class="col-lg-4 col-md-4 col-12 text-center">
              <img src="./assets/images/b.png" height="100px" width="100px"> 
             <h3> Birthday Party </h3>
             <p>
                 Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
             </p>
         </div>
         <div class="col-lg-4 col-md-4 col-12 text-center">
                 <img src="./assets/images/buss.jpg" height="100px" width="100px">
                 <h3> Business Meeting </h3>
                 <p>
                         Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                 </p>
             </div>
             <div class="col-lg-4 col-md-4 col-12 text-center">
                     <img src="./assets/images/wd.png" height="100px" width="100px"> 
                     <h3> Wedding Party </h3>
                     <p >
                         Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
                     </p>
                 </div>
              
 
     </div>
     <app-footer></app-footer>
 </div>